@font-face{
    font-family: 'Dellicious Strawberry', Arial;

}

.button{
    -fx-font-family: 'Dellicious Strawberry', Arial;
}

.label{
    -fx-font-family: 'Dellicious Strawberry', Arial;
    -fx-text-fill: beige;
}